/* CSS Document */
.FieldError {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
	background-color: #FFFFCC;
	display: none;
}

.span_error{
	height:1px; 
	float:right; 
	width:2px; 
	font-size:10px; 
	color:#FF0000; 
	padding-bottom:1px;	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	display: none;
}


